/*Image de fond du site web*/
.accueil {
    background-image: url("images/fondBois.jpg");
}

/*permet au texte à l'extérieur du main d'apparaître en blanc (le fond noir est une alternative "sécurisée" à l'image de fonc du site)*/
body {
    background-color: black;
    color: white;
}

/*permet de définir le style et la position du footer contenant les noms et le copyright*/
#footer {
    display: flex;
    justify-content: center;
    background-color:black;
    border-radius:15px;
    text-align:center;
    margin:5vh 35vw;
}

/*définir le style du titre de la page d'accueil*/
.titre {
    font-size: 4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*définir le style des titres moins importants*/
.titre_petit {
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*pour avoir une couleur différente au survol dans la barre de recherche*/
li a:hover {
    background-color: grey;
}
#edition:hover {
    background-color: grey;
}

/*définir le style du corps du texte dans la totalité du site, car tout le texte est contenu dans le site*/ 
main {
    margin: 20px 10%;
    color: black;
    padding: 20px;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    width: 80vw;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*permet de positionner les boutons en bas à gauche*/
#btn-lecture {
    display: flex;
    justify-content: flex-end;
}

/*permet de définir comme blanc la couleur des en-têtes des menus déroulants de la barre de navigation*/ 
#navbarDropdown {
    color: white;
}

/**/
.connexion {
    font-size: 1.5cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*permet de définir le style du rectangle blanc placé derrière le texte, par dessus l'image de fond du site*/
#backgroundConnexion {
    position: relative;
    top: 0;
    left: 0;
    min-height: 60vh;
    background: white;
    border-radius: 20px;
    padding: 25px;
    z-index: 1;
}

/*cet identifiant est utilisé sur les balises div quand il est nécessaire de centrer les éléments qu'elles contiennent*/
#centre {
    display: flex;
    justify-content: center;
}

/*définit le style du message d'erreur qui s'affiche lorsqu'il y a une erreur de saisie du mot de passer*/
.erreurmdp {
    color: red;
    font-size: small;
    text-align: center;
}

/*permet de définir le style d'affichage des informations relatives à l'histoire (statut, nombre de chapitre, date (et nom du chapitre en cours de lecture))*/
#donneesHistoire {
    color: grey;
    text-align: center;
}

/*permet d'améliorer le style d'affichage des leins correspondant aux titres et auteurs d'une histoire, dans les pages où ceux si sont affichés sous forme de liste*/
.listeHistoires {
    text-decoration: none;
    color: black;
}

/*permet de définir le style du bouton qui permet de revenir en haut de la page : on définit sa taille de façon à respecter les critères WCAG*/
#btnHautPage {
    position: fixed;
    bottom: 50px;
    right: 30px;
    width:45px;
    height:45px;
}

/*Ces éléments de style vont s'appliquer lorsque la taille de l'écran fera entre 0 et 900px de largeur) */
@media only screen and (orientation : portrait) {
    main {
        font-size: 2.3em;
    }
    h1 {
        font-size:1.8em;
    }
    h2 {
        font-size: 1.5em;
    }

    h3{
        font-size: 1.5em;
        text-align:center;
    }

    h4{
        font-size:1.3em;
    }

    h5 {
        font-size: 1.3em;
    }

    h6 {
        font-size: 1em;
    }

    .titre {
        font-size: 2.7em;
    }

    #size-btn {
        font-size: 0.8em;
    }

    #responsive-size-title {
        font-size: 2.5em;
    }

    #responsive-size {
        font-size: 2em;
    }

    #edition {
        font-size: 2em;
    }

    #navbarDropdown {
        font-size: 2em;
    }

    #footer {
        font-size:2em;
        margin:5vh 15vw;
    }
}