/*Image de fond en page d'accueil*/
.accueil {
    background-image: url("images/fondBois.jpg");
}

body {
    background-color: black;
    color: white;
}

.titre {
    font-size: 4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.titre_petit {
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*pour avoir une couleur différente au survol dans la barre de recherche*/
li a:hover {
    background-color: grey;
}

#edition:hover {
    background-color: grey;
}

main {
    margin: 20px 10%;
    color: black;
    padding: 20px;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    width: 80vw;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#btn-lecture {
    display: flex;
    justify-content: flex-end;
}

#navbarDropdown {
    color: white;
}

.connexion {
    font-size: 1.5cm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

#backgroundConnexion {
    position: relative;
    top: 0;
    left: 0;
    min-height: 60vh;
    background: white;
    border-radius: 20px;
    padding: 25px;
    z-index: 1;
}

#centre {
    display: flex;
    justify-content: center;
}

.erreurmdp {
    color: red;
    font-size: small;
    text-align: center;
}

#donneesHistoire {
    color: grey;
    text-align: center;
}

.listeHistoires {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
}

#btnHautPage {
    position: fixed;
    bottom: 50px;
    right: 30px;
}

/*Ces éléments de style vont s'appliquer lorsque la taille de l'écran fera entre 0 et 900px de largeur) */
@media only screen and (orientation : portrait) {
    main {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    h5{
        font-size: 1.5em;
    }

    h6{
        font-size:1em;
    }
    .titre {
        font-size: 2.7em;
    }

    #size-btn {
        font-size: 0.8em;
    }

    #responsive-size-title {
        font-size: 2.5em;
    }

    #responsive-size {
        font-size: 2em;
    }

    #edition {
        font-size: 2em;
    }

    #navbarDropdown {
        font-size: 2em;
    }
}